main {
	background-color: #D6D5D5;
    min-height: 930px;
    min-width: 1400px;
    position: absolute;
    top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

header {
	box-shadow: 0px 3px 6px #707070;    
    margin: 10px;
    font-size: 25px;
    text-align: center;
    color: #707070;    	
	background-color: #F2F2F2;
	padding: 10px;
}

header h1 {
	font-weight: bold;
    text-transform: uppercase;
}

.main {
	box-shadow: 0px 3px 6px #707070;
    margin: 10px;
    color: #707070;
	font-size: 25px;
	background-color: #F2F2F2;
    padding: 10px;
}

[disabled] {
    cursor: auto;
}

.popover {
    max-width: 430px;
    width: 430px;
}

.link, .link:hover {
    color: #707070;    
    font-weight: bold;
}

.row-background-header {
    background-color: rgb(0, 150, 136);
    min-height: 10vh;
}

.row-background-body {
    background-color: #d2dbdc;
    min-height: 90vh;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
}

.invalid-code-container {
    margin-bottom: 3px;
    color: red;
    background: #f7f7f7;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}