main {
	background-color: #D6D5D5;
    min-height: 100vh;
    min-width: 1400px;
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
	box-shadow: 0px 3px 6px #707070;    
    margin: 10px;
    font-size: 25px;
    text-align: center;
    color: #707070;    	
	background-color: #F2F2F2;
	padding: 10px;
}

header h1 {
	font-weight: bold;
    text-transform: uppercase;
}

.main {
	box-shadow: 0px 3px 6px #707070;
    margin: 10px;
    color: #707070;
	font-size: 25px;
	background-color: #F2F2F2;
    padding: 10px;
}

[disabled] {
    cursor: auto;
}

.popover {
    max-width: 430px;
    width: 430px;
}