.answers {
	box-shadow: 0px 3px 6px #707070;
    margin: 10px;
    color: black;
	font-size: 25px;
	background-color: #F2F2F2;
	padding: 10px;
}

.answers .red {	
	color: white;
	text-align: center;
	padding: 10px;
	border: 6px solid #707070;	
	background-color: #BC4747;
	outline: none;
	min-height: 100px;
}

.answers .yellow {
	border: 6px solid #707070;
	margin-top: 10px;
	background-color: #FFCC00;
	outline: none;
	min-height: 100px;
}

.answers .green {
	color: white;
	text-align: center;
	padding: 10px;
	border: 6px solid #707070;
	margin-top: 10px;
	background-color: #38A134;
	outline: none;
	min-height: 100px;
}

.answers .red:not(:disabled):hover {	
	border: 6px solid #99E1DE;
}

.answers .yellow:not(:disabled):hover {	
	border: 6px solid #99E1DE;
}

.answers .green:not(:disabled):hover {	
	border: 6px solid #99E1DE;
}

.answers .selected-answer {	
	border: 6px solid #99E1DE;
}