main {
	background-color: #D6D5D5;
	border: 3px solid #707070;	
}

header {
	box-shadow: 0px 3px 6px #707070;    
    margin: 10px;
    border: 3px solid #707070;
    font-size: 25px;
    text-align: center;
    color: #707070;    	
	background-color: #F2F2F2;
	padding: 10px;
}

header h1 {
	font-weight: bold;
	text-transform: uppercase;	
}

.questions {
	padding: 0px;
	box-shadow: 0px 3px 6px #707070;
    margin: 10px;
    border: 3px solid #707070;
    color: #707070;
	font-size: 25px;
	background-color: #F2F2F2;
}

.questions ul {
	padding-left: 0px;
    list-style-type: none;
}

 .question {
	 padding: 10px;
 }

.answers {
	box-shadow: 0px 3px 6px #707070;
    margin: 10px;
    border: 3px solid #707070;
    color: black;
	font-size: 25px;
	background-color: #F2F2F2;
	padding: 10px;
}

.answers .red {	
	color: white;
	text-align: center;
	padding: 10px;
	border: 10px solid #707070;	
	background-color: #BC4747;	
}

.answers .yellow {
	border: 10px solid #707070;
	margin-top: 10px;
	height: 100px;
	background-color: #FFCC00;
}

.answers .green {
	color: white;
	text-align: center;
	padding: 10px;
	border: 10px solid #707070;
	margin-top: 10px;
	background-color: #38A134;
}

.answers div:hover {
	cursor: pointer;
}

.cont-red {	
	color: white;
	text-align: center;
	border: 3px solid #707070;
	width: 50px;
	height: 40px;
	background-color: #BC4747;
	margin-right: 5px;
}

.cont-yellow {	
	color: white;
	text-align: center;
	border: 3px solid #707070;
	width: 50px;
	height: 40px;
	background-color: #FFCC00;
	margin-right: 5px;
}

.cont-green {	
	color: white;
	text-align: center;
	border: 3px solid #707070;
	width: 50px;
	height: 40px;
	background-color: #38A134;
	margin-right: 15px;
}

.play :hover {
	cursor: pointer;	
}

.play img {
	width: 50px;
	height: 40px;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
}

.current-question {
	background-color:#99E1DE;
}

ul li:not(.current-question):hover {
	background-color: white;
}




  
.button-play {
	display: block;
	position: relative;
	border: 5px solid white;
	box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.3), inset 0 3px 4px -2px rgba(0, 0, 0, 0.25);
	position: relative;
	width: 60px;
	height: 60px;
	background: grey;
	background-image: linear-gradient(120deg, rgba(166, 166, 166, 0.3) 50%, grey 51%);
	border-radius: 50%;
}
.button-play:before {
	display: block;
	position: absolute;
	content: "";
	bottom: 50%;
	left: 55%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-width: 10px 0px 10px 25px;
	border-radius: 0;
	border-left-color: white;
	-webkit-transform: translate(-13px, 50%);
			transform: translate(-13px, 50%);
}

.button-play:hover, .button-play.active {
	border: 3px solid white;
}

.button-play:hover:before, .button-play.active:before {
	-webkit-animation: playJump 0.5s linear infinite;
			animation: playJump 0.5s linear infinite;
}
  
@-webkit-keyframes playJump {
	0% {
		-webkit-transform: translate(-13px, 60%) scale(1.1, 0.7);
				transform: translate(-13px, 60%) scale(1.1, 0.7);
	}
	10% {
		-webkit-transform: translate(-13px, 30%) scale(0.9, 1.2);
				transform: translate(-13px, 30%) scale(0.9, 1.2);
	}
	20% {
		-webkit-transform: translate(-13px, 15%);
				transform: translate(-13px, 15%);
	}
	40% {
		-webkit-transform: translate(-13px, 10%);
				transform: translate(-13px, 10%);
	}
	50% {
		-webkit-transform: translate(-13px, 10%);
				transform: translate(-13px, 10%);
	}
	55% {
		-webkit-transform: translate(-13px, 18%);
				transform: translate(-13px, 18%);
	}
	60% {
		-webkit-transform: translate(-13px, 20%);
				transform: translate(-13px, 20%);
	}
	65% {
		-webkit-transform: translate(-13px, 25%);
				transform: translate(-13px, 25%);
	}
	70% {
		-webkit-transform: translate(-13px, 30%);
				transform: translate(-13px, 30%);
	}
	90% {
		-webkit-transform: translate(-13px, 60%) scale(1.2, 0.7);
				transform: translate(-13px, 60%) scale(1.2, 0.7);
	}
	100% {
		-webkit-transform: translate(-13px, 60%) scale(1.4, 0.7);
				transform: translate(-13px, 60%) scale(1.4, 0.7);
	}
}
  
@keyframes playJump {
	0% {
		-webkit-transform: translate(-13px, 60%) scale(1.1, 0.7);
				transform: translate(-13px, 60%) scale(1.1, 0.7);
	}
	10% {
		-webkit-transform: translate(-13px, 30%) scale(0.9, 1.2);
				transform: translate(-13px, 30%) scale(0.9, 1.2);
	}
	20% {
		-webkit-transform: translate(-13px, 15%);
				transform: translate(-13px, 15%);
	}
	40% {
		-webkit-transform: translate(-13px, 10%);
				transform: translate(-13px, 10%);
	}
	50% {
		-webkit-transform: translate(-13px, 10%);
				transform: translate(-13px, 10%);
	}
	55% {
		-webkit-transform: translate(-13px, 18%);
				transform: translate(-13px, 18%);
	}
	60% {
		-webkit-transform: translate(-13px, 20%);
				transform: translate(-13px, 20%);
	}
	65% {
		-webkit-transform: translate(-13px, 25%);
				transform: translate(-13px, 25%);
	}
	70% {
		-webkit-transform: translate(-13px, 30%);
				transform: translate(-13px, 30%);
	}
	90% {
		-webkit-transform: translate(-13px, 60%) scale(1.2, 0.7);
				transform: translate(-13px, 60%) scale(1.2, 0.7);
	}
	100% {
		-webkit-transform: translate(-13px, 60%) scale(1.4, 0.7);
				transform: translate(-13px, 60%) scale(1.4, 0.7);
	}
}